# nginx.conf.template
# Este archivo define cómo Nginx redirigirá el tráfico según el entorno activo

upstream backend_servers {
    # La variable ${APP_TARGET_IP} será reemplazada por la IP del ambiente Blue o Green
    server ${APP_TARGET_IP}:${APP_TARGET_PORT};
}

server {
    listen 80;
    server_name miprovector.com;

    location / {
        proxy_pass http://backend_servers;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        
        # Parámetros para el monitoreo de la aplicación
        add_header X-Deployment-Color ${DEPLOYMENT_COLOR};
    }
}
