/* AL FINAL DE public/css/style.css */
.table-tech {
    background: transparent !important;
}

.table-tech tbody tr {
    background: rgba(255, 255, 255, 0.03) !important;
    border: 1px solid rgba(0, 242, 254, 0.1) !important;
}

.table-tech td {
    color: #00f2fe !important; /* Texto Cian Neón para que resalte */
    background: transparent !important;
    border: none !important;
}

.table-tech thead th {
    color: #ff0055 !important; /* Títulos en Rosa Neón */
    border-bottom: 1px solid #ff0055 !important;
}